:root {
  /* Colores */
  --font-primary: "Roboto", sans-serif;
  --black: #282623;
  --white: #ffffff;
  --color-base: #ebebeb;
  --color-header: #313439;
  --white-img: #f3f3f3;
}

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}
body {
  background-color: var(--color-base);
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  height: auto;
}
/* -- Section Title --*/
.image {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

#img-div {
  background: var(--white-img);
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
  font-size: 1.2rem;
}

#title {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--white);
  background-color: var(--color-header);
}

/* -- Section Detail --*/

.detail {
  width: 100%;
  height: auto;
  padding: 20px;
}

.container-cite {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 6px solid #3c7e15;
  box-shadow: 4px 4px #888888;
  background-color: var(--color-header);
}

.container-cite cite {
  font-size: 1.8rem;
  text-align: center;
  color: var(--white);
}

.img-quotes {
  width: 21px;
  height: 21px;
  margin-bottom: 22px;
  margin-left: 10px;
}

/* -- Section Tribute --*/

#tribute-info {
  margin: 20px 0;
  font-size: 1.6rem;
}

.tribute-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tribute-info-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 18px;
  margin-top: 15px;
  border: 1px solid #ddd9d9;
  background-color: #ddd9d9;
  border-radius: 8px;
}

.tribute-info-detail h2,
.tribute-info-detail p {
  margin-top: 8px;
  padding-bottom: 8px;
  font-size: 1.3rem;
  line-height: 2rem;
  cursor: pointer;
}
.icon-detail {
  width: 40px;
  height: 40px;
  margin: 17px 0;
}

cite {
  display: block;
  margin: -7px 0;
  padding: 0 18px;
  font-size: 1.2rem;
}

#tribute-link {
  display: inline-block;
  padding: 0 18px;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-base);
}

@media screen and (min-width: 550px) {
  #img-caption {
    font-size: 1.4rem;
  }
  .container-cite {
    height: 120px;
  }
  .container-cite cite {
    font-size: 2.2rem;
  }

  .img-quotes {
    margin-bottom: 22px;
  }

  #title {
    font-size: 2rem;
  }
  #tribute-info {
    font-size: 1.8rem;
  }

  .tribute-info-detail h2,
  .tribute-info-detail p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .icon-detail {
    width: 42px;
    height: 42px;
  }

  #tribute-link {
    font-size: 1.4rem;
  }
}
